# Configuration for komga setup

# Name of the big-bear-komga application
# Service definitions for the big-bear-komga application
services:
  komga:
    # Name of the container
    container_name: komga
    # Image to be used for the container
    image: ghcr.io/gotson/komga:1.23.5
    # Container restart policy
    restart: unless-stopped
    # Environment variables for the container
    environment:
      - TZ=UTC
    # Volumes to be mounted to the container
    volumes:
      - ${APP_DATA_DIR}/config:/config
      - ${APP_DATA_DIR}/data:/data
    # Ports mapping between host and container
    ports:
      # Mapping port 25600 of the host to port 25600 of the container
      - "${APP_PORT}:25600"
    labels:
      runtipi.managed: "true"
    networks:
      - tipi_main_network
networks:
  tipi_main_network:
    external: true
