# Configuration for homepage setup

# Name of the big-bear-homepage application
name: big-bear-homepage
# Service definitions for the big-bear-homepage application
services:
  Homepage:
    # Image to be used for the container
    image: ghcr.io/gethomepage/homepage:v1.6.1
    # Name of the container instance
    container_name: Homepage
    # Port mapping between host and container
    ports:
      - ${APP_PORT}:3000 # Maps port 3000 of the host to port 3000 of the container
    # Mount points for volumes (persistent storage)
    volumes:
      # Maps local config directory to the config directory inside the container
      # Ensure the local config directory is created before starting the container
      - ${APP_DATA_DIR}/Homepage/config:/app/config
      # Maps the Docker socket from the host to the container
      # This allows the container to communicate with the Docker daemon on the host
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      runtipi.managed: "true"
    networks:
      - tipi_main_network
networks:
  tipi_main_network:
    external: true
