# Configuration for docmost setup

# Name of the big-bear-docmost application
# Service definitions for the big-bear-docmost application
services:
  big-bear-docmost-db:
    container_name: big-bear-docmost-db
    image: postgres:16-alpine
    environment:
      - POSTGRES_DB=docmost
      - POSTGRES_USER=docmost
      - POSTGRES_PASSWORD=ea9dee39-c390-4a88-be39-8034f4bb9b82
    restart: unless-stopped
    volumes:
      - ${APP_DATA_DIR}/data/pgdata:/var/lib/postgresql/data
    networks:
      - tipi_main_network
    labels:
      runtipi.managed: "true"
  big-bear-docmost-redis:
    container_name: big-bear-docmost-redis
    image: redis:7.2.11-alpine@sha256:b19a2cb55412c26e0c3725011ac04397eba5cb0d7f090f739cbbce8dc97f8e60
    restart: unless-stopped
    volumes:
      - ${APP_DATA_DIR}/data/redis:/data
    networks:
      - tipi_main_network
    labels:
      runtipi.managed: "true"
  docmost:
    # Name of the container
    container_name: docmost
    # Image to be used for the container
    image: docmost/docmost:0.25.2
    # Container restart policy
    restart: unless-stopped
    environment:
      - APP_URL=http://localhost:3000
      - APP_SECRET=d4e8f3c3-72b9-4003-be4c-168f13024853
      - DATABASE_URL=postgresql://docmost:ea9dee39-c390-4a88-be39-8034f4bb9b82@big-bear-docmost-db:5432/docmost?schema=public
      - REDIS_URL=redis://big-bear-docmost-redis:6379/0
    # Volumes to be mounted to the container
    volumes:
      - ${APP_DATA_DIR}/data/storage:/app/data/storage
    # Ports mapping between host and container
    ports:
      # Mapping port 3000 of the host to port 3000 of the container
      - "${APP_PORT}:3000"
    networks:
      - tipi_main_network
    depends_on:
      - big-bear-docmost-db
      - big-bear-docmost-redis
    labels:
      runtipi.managed: "true"
networks:
  tipi_main_network:
    external: true
