# Configuration for adguard home setup

# Application Name
# Services used in the application
services:
  adguard-home:
    # Name of the container
    container_name: adguard-home
    # Docker image to be used
    image: adguard/adguardhome:v0.107.72
    # Resources for the service
    deploy:
      resources:
        reservations:
          memory: 64M
    # Volume mappings for the service
    volumes:
      - "${APP_DATA_DIR}/data/work:/opt/adguardhome/work" # Map data work directory
      - "${APP_DATA_DIR}/data/conf:/opt/adguardhome/conf" # Map configuration directory
    restart: unless-stopped
    ports:
      - ${APP_PORT}:53/tcp # Map TCP port 53
      - 53:53/udp # Map UDP port 53
      - 8080:80 # Map port 80
    # Define the networks
    networks:
      - tipi_main_network
    labels:
      runtipi.managed: "true"
networks:
  tipi_main_network:
    external: true
