# Configuration for diun setup

# Name of the big-bear-diun application
# Service definitions for the big-bear-diun application
services:
  diun:
    # Name of the container
    container_name: diun
    # Image to be used for the container
    image: crazymax/diun:4.31.0
    # Command to run inside the container
    command: ["serve"]
    # Container restart policy
    restart: always
    # Environment variables for the container
    environment:
      TZ: "UTC"
      DIUN_WATCH_WORKERS: "20"
      DIUN_WATCH_SCHEDULE: "0 */6 * * *"
      DIUN_WATCH_JITTER: "30s"
      DIUN_PROVIDERS_DOCKER: "true"
    # Volumes to be mounted to the container
    volumes:
      - ${APP_DATA_DIR}/data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    labels:
      diun.enable: "true"
      runtipi.managed: "true"
    networks:
      - tipi_main_network
networks:
  tipi_main_network:
    external: true
