# Configuration for Rocket.Chat setup in a containerized environment

# Application Name
# This sets the name of the Rocket.Chat application.
# Service definitions
# Defining the services required for the Rocket.Chat application.
services:
  # Service: db
  # This service runs the MongoDB database used by Rocket.Chat.
  db:
    image: mongo:4.4.28
    container_name: big-bear-rocketchat-db
    volumes:
      # Persistent storage for MongoDB
      - ${APP_DATA_DIR}/db:/data/db
    # Health Check
    # Checks the health of the MongoDB service.
    healthcheck:
      test: ["CMD", "mongo", "--eval", "db.stats()"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 40s
    # Networks
    networks:
      - tipi_main_network
    labels:
      runtipi.managed: "true"
  rocket-chat:
    # Container name
    # This names the Docker container for easy reference.
    container_name: rocket-chat
    # Docker Image
    # Specifies the Docker image to use for Rocket.Chat.
    image: rocket.chat:8.0.1
    # Restart Policy
    # Determines how the container should be handled if it stops.
    restart: unless-stopped
    # Environment variables
    # These variables are used by Rocket.Chat for its configuration.
    environment:
      MONGO_OPLOG_URL: mongodb://db:27017/local
      ROOT_URL: http://localhost:3000
    # Port Mappings
    # Maps ports from the container to the host system.
    ports:
      - "${APP_PORT}:3000" # HostPort:ContainerPort
    # Dependencies
    # Specifies other services that this service depends on.
    depends_on:
      db:
        condition: service_healthy
    # Networks
    # Assigns the app service to a network.
    networks:
      - tipi_main_network
    labels:
      runtipi.managed: "true"
networks:
  tipi_main_network:
    external: true
