# Configuration for budibase setup

# Name of the big-bear-budibase application
# Service definitions for the big-bear-budibase application
services:
  budibase:
    # Name of the container
    container_name: budibase
    # Image to be used for the container
    image: budibase/budibase:3.23.39
    # Container restart policy
    restart: unless-stopped
    # Volumes to be mounted to the container
    volumes:
      # Mounting the local directory /DATA/AppData/$AppID/data to /data in the container
      - ${APP_DATA_DIR}/data:/data
    # Ports mapping between host and container
    ports:
      # Mapping port 80 of the container to port 8080 of the host
      - "${APP_PORT}:80"
    labels:
      runtipi.managed: "true"
    networks:
      - tipi_main_network
networks:
  tipi_main_network:
    external: true
