# Configuration for octoprint setup

# Name of the big-bear-octoprint application
# Service definitions for the big-bear-octoprint application
services:
  octoprint:
    # Name of the container
    container_name: octoprint
    # Image to be used for the container
    image: octoprint/octoprint:1.11.5
    # Container restart policy
    restart: unless-stopped
    # devices:
    # use `python -m serial.tools.miniterm` to see what the name is of the printer, this requires pyserial
    #  - /dev/ttyACM0:/dev/ttyACM0
    #  - /dev/video0:/dev/video0
    volumes:
      - ${APP_DATA_DIR}/octoprint:/octoprint
    # uncomment the lines below to ensure camera streaming is enabled when
    # you add a video device
    #environment:
    #  - ENABLE_MJPG_STREAMER=true

    # Ports mapping between host and container
    ports:
      # Mapping port 7575 of the host to port 7575 of the container
      - "${APP_PORT}:80"
    labels:
      runtipi.managed: "true"
    networks:
      - tipi_main_network
networks:
  tipi_main_network:
    external: true
