# Configuration for nextcloud-ls setup

# Name of the big-bear-nextcloud-ls application
# Service definitions for the big-bear-nextcloud-ls application
services:
  nextcloud-ls:
    # Define the container name
    container_name: nextcloud-ls
    # Use the nextcloud:28.0.1-apache image
    image: linuxserver/nextcloud:32.0.1
    # Restart the container unless stopped
    restart: unless-stopped
    # Map port 7580 on the host to port 80 on the container
    ports:
      - ${APP_PORT}:443
    # Mount the nextcloud-ls_data directory on the host to /var/www/html in the container
    volumes:
      - ${APP_DATA_DIR}/config:/config
      - ${APP_DATA_DIR}/data:/data
    # Set environment variables
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Etc/UTC
    labels:
      runtipi.managed: "true"
    networks:
      - tipi_main_network
networks:
  tipi_main_network:
    external: true
