services:
  storyteller:
    image: registry.gitlab.com/storyteller-platform/storyteller:web-v2.6.0-experimental.14
    container_name: storyteller
    ports:
      - "${APP_PORT}:8001"
    volumes:
      - ${APP_DATA_DIR}/data:/data
    environment:
      - STORYTELLER_SECRET_KEY=${STORYTELLER_SECRET_KEY}
      - STORYTELLER_LOG_LEVEL=${STORYTELLER_LOG_LEVEL:-info}
      - STORYTELLER_DATA_DIR=${STORYTELLER_DATA_DIR:-/data}
      - TZ=${TZ:-UTC}
    restart: unless-stopped
    network_mode: bridge
    labels:
      runtipi.managed: "true"
    networks:
      - tipi_main_network
networks:
  tipi_main_network:
    external: true
