# Configuration for nextcloud-smb setup

# Name of the big-bear-nextcloud-smb application
# Service definitions for the big-bear-nextcloud-smb application
services:
  # Define the database container for Nextcloud
  big-bear-nextcloud-smb-db:
    container_name: big-bear-nextcloud-smb-db
    image: postgres:14.2
    restart: unless-stopped
    volumes:
      - ${APP_DATA_DIR}/pgdata:/var/lib/postgresql/data # Mount the PostgreSQL data directory
    environment:
      - POSTGRES_PASSWORD=casaos # Set the PostgreSQL password
      - POSTGRES_USER=casaos # Set the PostgreSQL username
      - POSTGRES_DB=nextcloud # Set the name of the Nextcloud database
    networks:
      - tipi_main_network
    # Healthcheck configuration for the database service
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U casaos -d nextcloud"]
      interval: 10s
      timeout: 5s
      retries: 5
    labels:
      runtipi.managed: "true"
  # Redis configuration for Nextcloud
  big-bear-nextcloud-smb-redis:
    container_name: big-bear-nextcloud-smb-redis
    user: "1000:1000"
    image: redis:6.2.20@sha256:d06ff6ec778c7f2a5c0dfaf58141d598efaa50a89d0e966faedfdf122cef451b
    restart: on-failure
    volumes:
      - "${APP_DATA_DIR}/redis:/data" # Mount the Redis data directory
    networks:
      - tipi_main_network
    # Healthcheck configuration for the Redis service
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 5
    labels:
      runtipi.managed: "true"
  big-bear-nextcloud-smb-cron:
    container_name: big-bear-nextcloud-smb-cron
    image: bigbeartechworld/big-bear-nextcloud-with-smbclient:32.0.3
    restart: on-failure
    volumes:
      - ${APP_DATA_DIR}/html:/var/www/html
    entrypoint: /cron.sh
    # Specify the dependencies
    depends_on:
      big-bear-nextcloud-smb-db:
        condition: service_healthy
      big-bear-nextcloud-smb-redis:
        condition: service_healthy
    networks:
      - tipi_main_network
    labels:
      runtipi.managed: "true"
  nextcloud-with-smbclient:
    # Define the container name
    container_name: nextcloud-with-smbclient
    # Use the nextcloud image from the official Docker Hub
    image: bigbeartechworld/big-bear-nextcloud-with-smbclient:32.0.3
    # Restart the container unless stopped
    restart: unless-stopped
    # Map port 7580 on the host to port 80 on the container
    ports:
      - ${APP_PORT}:80
    # Mount the nextcloud-with-smbclient_html directory on the host to /var/www/html in the container
    volumes:
      - ${APP_DATA_DIR}/html:/var/www/html
    # Set environment variables for the container
    environment:
      - POSTGRES_HOST=big-bear-nextcloud-smb-db
      - REDIS_HOST=big-bear-nextcloud-smb-redis
      - POSTGRES_PASSWORD=casaos
      - POSTGRES_USER=casaos
      - POSTGRES_DB=nextcloud
      - NEXTCLOUD_ADMIN_USER=casaos
      - NEXTCLOUD_ADMIN_PASSWORD=casaos
      - TRUSTED_PROXIES=
      - OVERWRITEPROTOCOL=http
      - PHP_MEMORY_LIMIT=1024M
      - PHP_UPLOAD_LIMIT=1024M
    # Specify the dependencies
    depends_on:
      big-bear-nextcloud-smb-db:
        condition: service_healthy
      big-bear-nextcloud-smb-redis:
        condition: service_healthy
    # Define the network
    networks:
      - tipi_main_network
    labels:
      runtipi.managed: "true"
networks:
  tipi_main_network:
    external: true
