# Configuration for ghost setup

# Application Name
# Services used in the application
services:
  # The `db` service for database (MySQL in this case)
  db:
    # Container name
    container_name: big-bear-ghost-db
    # Docker image to be used
    image: mysql:8.0
    # Restart policy for the service
    restart: on-failure
    # Volume mappings for persistent storage
    volumes:
      - ${APP_DATA_DIR}/mysql:/var/lib/mysql
    # MySQL environment variables
    environment:
      MYSQL_USER: "ghost"
      MYSQL_DATABASE: "ghost"
      MYSQL_PASSWORD: "casaos"
      MYSQL_ROOT_PASSWORD: "casaos"
    # Networks used by the service
    networks:
      - tipi_main_network
    labels:
      runtipi.managed: "true"
  ghost:
    # Name of the container
    container_name: ghost
    # Docker image to be used
    image: ghost:6.16.1-alpine
    # Restart policy for the service
    restart: on-failure
    # Networks used by the service
    networks:
      - tipi_main_network
    environment:
      # Database configuration for Ghost (see Ghost documentation for more details)
      database__client: mysql
      database__connection__host: db
      database__connection__user: ghost
      database__connection__password: casaos
      database__connection__database: ghost
      # Base URL for the Ghost application
      url: "http://localhost:2368"
      # Note on NODE_ENV default value for this image
      #NODE_ENV: development
    # Volume mappings for persistent storage
    volumes:
      - ${APP_DATA_DIR}/content:/var/lib/ghost/content
    # Port mappings for the service
    ports:
      - ${APP_PORT}:2368
    # Dependencies for the service
    depends_on:
      - db
    labels:
      runtipi.managed: "true"
networks:
  tipi_main_network:
    external: true
