# Configuration for monica setup

# Name of the big-bear-monica application
# Service definitions for the big-bear-monica application
services:
  # Database service for monica
  big-bear-monica-db:
    image: mariadb:10.6.11
    container_name: big-bear-monica-db
    environment:
      - TZ=UTC
      - MARIADB_RANDOM_ROOT_PASSWORD=true
      - MARIADB_DATABASE=monica
      - MARIADB_USER=usermonica
      - MARIADB_PASSWORD=passwordmonica
    volumes:
      - ${APP_DATA_DIR}/mysql:/var/lib/mysql
    restart: unless-stopped
    networks:
      - tipi_main_network
    labels:
      runtipi.managed: "true"
  monica:
    # Name of the container
    container_name: monica
    # Image to be used for the container
    image: monica:4.1.2
    # Container restart policy
    restart: unless-stopped
    environment:
      - APP_KEY=80356f7073c4f7834187b25a9d32cd2a
      - DB_HOST=big-bear-monica-db
      - DB_USERNAME=usermonica
      - DB_PASSWORD=passwordmonica
    volumes:
      - ${APP_DATA_DIR}/storage:/var/www/html/storage
    # Ports mapping between host and container
    ports:
      # Mapping port 8080 of the host to port 80 of the container
      - "${APP_PORT}:80"
    # Networks to be attached to the container
    networks:
      - tipi_main_network
    labels:
      runtipi.managed: "true"
networks:
  tipi_main_network:
    external: true
