# Configuration for beszel setup

# Name of the big-bear-beszel application
name: big-bear-beszel
# Service definitions for the big-bear-beszel application
services:
  beszel:
    # Name of the container
    container_name: beszel
    # Image to be used for the container
    image: henrygd/beszel:0.15.4
    # Container restart policy
    restart: unless-stopped
    # Volumes to be mounted to the container
    volumes:
      - ${APP_DATA_DIR}/data:/beszel_data
    # Ports mapping between host and container
    ports:
      # Mapping port 8090 of the host to port 8090 of the container
      - "${APP_PORT}:8090"
    labels:
      runtipi.managed: "true"
    networks:
      - tipi_main_network
networks:
  tipi_main_network:
    external: true
