# Configuration for plant-it setup

# Name of the big-bear-plant-it application
# Service definitions for the big-bear-plant-it application
services:
  # Service definition for the database
  big-bear-plant-it-db:
    # Name of the database container
    container_name: big-bear-plant-it-db
    # Image for the database
    image: mysql:8.0
    # Restart policy for the database container
    restart: always
    environment:
      # MySQL database name
      - MYSQL_DATABASE=plantit
      # MySQL root password
      - MYSQL_ROOT_PASSWORD=9c75c563-b549-40e6-a0d2-360cf9a962ea
    ports:
      # Mapping port 3306 of the host to port 3306 of the container
      - "3306:3306"
    volumes:
      # Volume for MySQL data
      - "${APP_DATA_DIR}/mysql:/var/lib/mysql"
    networks:
      - tipi_main_network
    labels:
      runtipi.managed: "true"
  # Service definition for the cache
  big-bear-plant-it-cache:
    # Name of the cache container
    container_name: big-bear-plant-it-cache
    # Image for the cache
    image: redis:7.2.11@sha256:9c44a721d444690605ffa32d6b6e1ac565060676386f88bbbb376f56cef2f724
    # Restart policy for the cache container
    restart: always
    networks:
      - tipi_main_network
    labels:
      runtipi.managed: "true"
  plant-it:
    # Name of the container
    container_name: plant-it
    # Image to be used for the container
    image: msdeluise/plant-it-server:0.10.0
    # Container restart policy
    restart: unless-stopped
    environment:
      # MySQL database host
      - MYSQL_HOST=big-bear-plant-it-db
      # MySQL database port
      - MYSQL_PORT=3306
      # MySQL database username
      - MYSQL_USERNAME=root
      # MySQL database password
      - MYSQL_PSW=9c75c563-b549-40e6-a0d2-360cf9a962ea
      # MySQL database name
      - MYSQL_DATABASE=plantit
      # MySQL root password
      - MYSQL_ROOT_PASSWORD=9c75c563-b549-40e6-a0d2-360cf9a962ea
      # JWT secret for authentication
      - JWT_SECRET=putTheSecretHere
      # JWT expiration time
      - JWT_EXP=1
      # Users limit (-1 means no limit)
      - USERS_LIMIT=-1
      # Directory for file uploads
      - UPLOAD_DIR=/upload-dir
      # API port
      - API_PORT=8080
      # Trefle API key (currently empty)
      - TREFLE_KEY=
      # Log level
      - LOG_LEVEL=DEBUG
      # Allowed origins for CORS
      - ALLOWED_ORIGINS=*
      # Cache time-to-live (TTL) in seconds
      - CACHE_TTL=86400
      # Cache host
      - CACHE_HOST=big-bear-plant-it-cache
      # Cache port
      - CACHE_PORT=6379
      # SSL enabled flag
      - SSL_ENABLED=false
      # Path to SSL certificates
      - CERTIFICATE_PATH=/certificates/
    # Volumes to be mounted to the container
    volumes:
      # Volume for uploads
      - "${APP_DATA_DIR}/upload-dir:/upload-dir"
      # Volume for SSL certificates
      - "${APP_DATA_DIR}/certificates:/certificates"
    # Ports mapping between host and container
    ports:
      # Mapping port 3000 of the host to port 3000 of the container
      - "${APP_PORT}:3000"
      # Mapping port 8080 of the host to port 8080 of the container
      - "8080:8080"
    networks:
      - tipi_main_network
    labels:
      runtipi.managed: "true"
networks:
  tipi_main_network:
    external: true
