services:
  minio:
    image: bigbeartechworld/big-bear-minio:RELEASE.2025-10-15T17-29-55Z
    container_name: minio
    volumes:
      - ${APP_DATA_DIR}/data:/data
    ports:
      - "${APP_PORT}:9000"
      - "9011:9001"
    environment:
      MINIO_ROOT_PASSWORD: minioadmin
      MINIO_ROOT_USER: minioadmin
    restart: unless-stopped
    command:
      - server
      - "--console-address"
      - ":9001"
      - /data
    labels:
      runtipi.managed: "true"
    networks:
      - tipi_main_network
networks:
  tipi_main_network:
    external: true
