# Configuration for note-mark-aio setup

# Name of the big-bear-note-mark-aio application
# Service definitions for the big-bear-homarr application
services:
  note-mark-aio:
    # Name of the container
    container_name: note-mark-aio
    # Image to be used for the container
    image: ghcr.io/enchant97/note-mark-aio:0.18.0
    # Container restart policy
    restart: unless-stopped
    environment:
      - JWT_SECRET="MGZiMzlkM2EtNmYxNC00NzNlLWI2YjItYTViY2M0Mzg0NjNl"
      - CORS_ORIGINS="http://example.com:8000"
    # Volumes to be mounted to the container
    volumes:
      # Mounting the local /config directory to /config inside the container
      - ${APP_DATA_DIR}/data:/data
    # Ports mapping between host and container
    ports:
      # Mapping port 8000 of the host to port 8000 of the container
      - "${APP_PORT}:8000"
    # Networks to be attached to the container
    networks:
      - tipi_main_network
    labels:
      runtipi.managed: "true"
networks:
  tipi_main_network:
    external: true
