# big-bear-ntfy application configuration
# Services associated with the big-bear-ntfy application
services:
  ntfysh:
    # Docker image to be used for the service
    image: binwiederhier/ntfy:v2.17.0
    # Command to run inside the container
    command:
      - serve
    # Environment variables for the service
    environment:
      - TZ=UTC
    # Port configurations for the service
    ports:
      - target: 80 # Container port
        published: "${APP_PORT}" # Host port
        protocol: tcp # Protocol type
    # Restart policy for the service
    restart: unless-stopped
    # Volumes to be mounted inside the container
    volumes:
      - type: bind
        source: ${APP_DATA_DIR}/cache
        target: /var/cache/ntfy
      - type: bind
        source: ${APP_DATA_DIR}/config
        target: /etc/ntfy
    container_name: ntfysh
    labels:
      runtipi.managed: "true"
    networks:
      - tipi_main_network
networks:
  tipi_main_network:
    external: true
